@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.form-container {
  max-width: 480px;
  min-width: 320px;
  background: #121212;
  margin: 50px auto;
  padding: 40px;
  color: #fff;
}

.form-container h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 50px 0 40px 0;
  position: relative;
}
.form-container h1:before {
  content: '';
  width: 36px;
  height: 36px;
  background: #f08eb0 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23121212'%3E%3Cpath d='M12 1C8.676 1 6 3.676 6 7v1c-1.093 0-2 .907-2 2v10c0 1.093.907 2 2 2h12c1.093 0 2-.907 2-2V10c0-1.093-.907-2-2-2V7c0-3.324-2.676-6-6-6zm0 2c2.276 0 4 1.724 4 4v1H8V7c0-2.276 1.724-4 4-4zm-6 7h12v10H6V10zm6 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/svg%3E") center center no-repeat;
  position: absolute;
  left: 50%;
  top: 0;
  border-radius: 50%;
  margin: 0 0 0 -18px;
}

.form-item {
  padding: 0 0 15px 0;
}
.form-input {
  display: block;
  border: 1px solid #fff;
  width: 100%;
  padding: 0 15px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: none;
}

.form-item input[type="checkbox"] {
  display: none;
}
.form-item input[type="checkbox"] + label {
  cursor: pointer;
  padding: 2px 0 0 28px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  display: inline-flex;
  user-select: none;
}

.form-item input[type="checkbox"] + label:before {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #fff;
  border-radius: 4px;
  content: '';
  transition: background-color .3s ease;
}
.form-item input[type="checkbox"] + label:before {
  background: #fff;
}
.form-item input[type="checkbox"] + label:after {
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  left: 5px;
  top: 5px;
  background: #121212;
  border-radius: 2px;
  opacity: 0;
  transition: opacity .3s ease;
}
.form-item input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.form-send {
  display: block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: #121212;
  background: #90caf9;
  text-transform: uppercase;
  font-size: 12px;
  height: 32px;
  width: 100%;
  margin: 10px 0 0 0;
  font-weight: 700;
}

.form-nav {
  padding: 40px 0 40px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.form-nav a {
  color: #90caf9;
}
.form-nav a:hover {
  text-decoration: none;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 20px 0 0 0;
}
.form-row {
  display: flex;
  margin: 0 -10px;
}
.form-row .form-item {
  padding: 0 10px 15px 10px;
  width: 50%;
  flex-shrink: 0;
}
