* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 40px 20px;
}

.contact-item {
  background: #000;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto 10px auto;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.contact-item__name {
  padding: 0 0 5px 0;
}
.contact-item__phone {
  color: #eee;
  font-size: 15px;
}

.inputFilter {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  height: 50px;
  font-size: 18px;
  padding: 0 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.filter-container {
  padding: 0 0 50px 0;
}
.filter-container label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
.filter-container label + label {
  margin-left: 40px;
}
.filter-container input[type="checkbox"] {
  margin-right: 6px;
}
